/* styles.css */

.authpage {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('../assets/background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}
.main-nav{
    display: flex;
    align-items: center;
    margin-top: 8px;
    width: 1440px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

form[type='formAuth'] {

    align-items: center;
    margin-top: 5%;
    width: 30%;
    height: 45%;
    border-top: 3px solid #49678D;
    

    text-align: center;
    align-items: center;
}

input[type='signInPageInput'] {
    
    margin-top: 10%;
    height: 12%;
    width: 75%;
    border-top: 3px solid #49678D;
    border-bottom: 3px solid #49678D;
   
    font-size: 80%;
    color: #c0c0c0;
    background-color: #444444;
}

.signInPageSubmit {
    margin-top: 10%;
    font-family: 'Cascadia Mono';
    font-weight: lighter;
    height: 14%;
    
    background-color: #ef7135;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 2% 4%;
    background-color: #4285B4;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
    transition: 0.5s;
}

.signInPageSubmit:hover{
    background-color: #1164B4;
    cursor: pointer;
    color: #c0c0c0;
    transform: translate(0,-3px);
    box-shadow: 0 10px 20px 0 rgba(11, 99, 246, 1);
}

p[type='signInPageP'] {
    font-family: 'Cascadia Mono';
    font-weight: lighter;
    font-size: 85%;
    text-align: left;
    margin-left: 14%;
    margin-top: 5%;
}

a[type='signInPageRef1'] {
    
    color: #fff;
}

a:hover[type='signInPageRef1'] {
    
    color: #c0c0c0;
}

p[type='signInPageP2'] {
    
    margin-top: 50%;
    color: #fff;
    font-family: 'Cascadia Mono';
    font-weight: lighter;
    font-size: 85%;
}

a[type='signInPageRef2'] {
    color: #49678D;
}

a:hover[type='signInPageRef2'] {
    color: #1164B4;
    cursor: pointer;
}

input[type='signInPagePassword'] {
    margin-top: 10%;
    height: 12%;
    width: 75%;
    border-top: 3px solid #49678D;
    border-bottom: 3px solid #49678D;
    background-color: #444444;
    font-size: 80%;
    color: #c0c0c0;
    
    -webkit-text-security: disc;
}
